# Python
__pycache__/
*.py[cod]
.env
env/
db.sqlite3
*.pyc

# Django Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# React
# booking-frontend/node_modules/
# booking-frontend/build/
# booking-frontend/.env

# Docker
*.log
*.pid
*.db
*.sqlite3
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
